<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header_footer :: head (title='Клиенты')"/>
<body>
<div id="layout">
    <div id="menu"
         th:replace="fragments/sections :: navbar"/>
    <div id="main">
        <div class="head row w3-twothird">
            <div class="page-head w3-show-inline-block">
                <h1 class="page-header">Клиенты</h1>
                <h6 class="head-message row"
                    th:text="${flashMessage}"/>
            </div>
            <a th:href="@{/clients/create}"
               class="my-but pressme no-decoration-link"
               data-tooltip="Внести данные">Добавить</a>
        </div>
        <div th:if="${data.size() > 0}"
             class="w3-center w3-twothird">
            <table class="table_sort w3-table w3-bordered w3-card">
                <thead>
                <tr style="position: sticky; top: 3rem;">
                    <th class="w3-center">ФИО</th>
                    <th class="w3-center">Дата рождения</th>
                    <th class="w3-center">id</th>
                    <th class="w3-center"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${data}">
                    <td class="w3-center"
                        th:utext="${item.getFullName()}"></td>
                    <td class="w3-center"
                        th:utext="${#dates.format(item.getBirthDate(), 'dd.MM.yyyy')}"></td>
                    <td class="w3-center"
                        th:utext="${item.getId()}"></td>
                    <td class="w3-center"><a th:href="@{${'/clients/' + (item.getId())}}">Подробнее</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <h3 th:unless="${data.size() > 0}">Нет данных</h3>
    </div>
</div>
</body>
</html>